body {
    height: 100%;
    background-color: black;
    text-align: center
}

.btn,
.returnAmnt {
    margin: 5px 5px 5px 0px;
}

img {
    margin: 5px;
}

.form-control,
.submit {
    margin: 5px 5px 10px 0px;
}

.gifs{
    display: flex;
    flex-wrap: wrap;
    text-align:center
}

.container {
    background-color: antiquewhite
}

.search {
    text-align: left;
}


